/* universal style */

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* img {
    width: 100%;
} */

/* common shared styles */
.container {
    max-width: 1280px;
    margin: auto;
}

/* nav section styles */

nav {
    font-family: "Arimo", sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}

.nav-itam ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 400;
    text-decoration: none;
    /* align-items: center;
    justify-content: center; */
}

.nav-itam ul li a {
    text-decoration: none;
    color: #575757;
}

.btn-1 {
    background-color: #1d4ed8;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: #1d4ed8;
}

/* banner section started */

.banner-section {
    background-image: linear-gradient(rgba(0, 0, 0, 60), rgba(0, 0, 0, 0)),
        url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 786px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content {
    color: white;
    /* max-width: 880px; */
    padding: 50px auto;
}

.banner-content h1 {
    font-weight: bold;
    font-size: 80px;
    padding: 25px;
}

.banner-content p {
    font-weight: 400;
    font-size: 22px;
    padding: 25px;
    color: ffffff;
}

.btn-container {
    padding-top: 90px;
}

.btn-2 {
    background-color: #1d4ed8;
    color: white;
    padding: 18px 28px;
    border-radius: 10px;
    cursor: pointer;
    border: #1d4ed8;
    font-weight: 700;
    font-size: 24px;
}

/* speaker section started */

.meet-heading-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.meet-heading-txt h2 {
    font-weight: 700;
    font-size: 56px;
}

.speaker-card {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.speaker-position-txt {
    font-weight: 600;
    font-size: 12px;
    color: #2563eb;
    padding: 10px;
}

.speaker-name-txt {
    font-weight: 700;
    font-size: 20px;
    color: #0d1b2a;
    padding: 10px;
}

.speaker-about-txt {
    font-weight: 400;
    font-size: 14px;
    color: #575757;
    padding: 10px;
}

.card-txt-container {
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

/* speaker section ended */

/* package section started */

.package-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.card-txt-heading{
    font-weight: 600;
    font-size: 13px;
    color: #888888;
}

.card-txt-price{
    font-weight: 700;
    font-size: 44px;
    color: #0d1b2a;
}

.card-txt-p{
    font-weight: 400;
    font-size: 13px;
    color: #888888;
}

.card-line{
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 20px 0;
}

.package-list-txt li{
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    padding: 5px;
}

.btn-package{
    font-weight: 600;
    font-size: 14px;
    color: #2563eb;
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #2563eb;
    margin: 15px 0;
    cursor: pointer;
}
.card{
    border: 1px solid #e5e7eb;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
    text-align: left; 
}

.card-2{
    padding: 50px;
    border-radius: 20px;
    margin: 20px;
    background-color: #0d1b2a;
}

.card-txt-heading-2{
    font-weight: 600;
    font-size: 13px;
    color: #93c5fd;
}

.card-txt-price-2{
    font-weight: 700;
    font-size: 44px;
    color: white;
}

.card-txt-p-2{
    font-weight: 400;
    font-size: 13px;
    color: #ffff;
}

.package-list-txt-2 li{
    font-weight: 400;
    font-size: 14px;
    color: #ffff;
    padding: 5px;
}

.btn-package-2{
    font-weight: 600;
    font-size: 14px;
    color: #ffff;
    background-color: #2563eb;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #2563eb;
    margin: 15px 0;
    cursor: pointer;
}

/* venue section started */

.venue-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 10px;
}

.venue-txt-container h2{
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 2px;
}

.venue-txt-container h3{
    font-weight: 600;
    font-size: 35px;
}

.venue-txt-container p{
    font-weight: 400;
    font-size: 16px;
    color: #888888;
    padding-bottom: 25px;
}

.venue-txt-container{
    text-align: center;
}

/* footer section started */
